:root {
  --white: (#fffafa);
  --blue1: #0d80bf;
  --blue2: #c0e9ff;
  --blue3: #3faee9;
  --blue4: #ebf8ff;
  --hover: #81d3ff;
  --black: #141414;
  --grey: #505050;
  --grey2: #d6d6d6;
}

.page-grid {
  display: grid;
  grid-template-areas: 
    "nav nav"
    "title title"
    "hero hero"
    "section1 section1"
    "images images"
    "section2 section2"
    "section3 section3"
    "footer footer";
  grid-template-rows: auto auto 1fr auto;
  min-height: 100vh;
  gap: 0;
}

html {
  font-size: 16px;
  background-color: var(--white);
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0px;
}

.nav-area {
  grid-area: nav;
}

.title-area {
  grid-area: title;
}

.hero-area {
  grid-area: hero;
}

.content-area1 {
  grid-area: section1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-area2 {
  grid-area: section2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-area {
  grid-area: footer;
}

header nav {
  font-family: "Montserrat", sans-serif;
  background-color: var(--blue1);
  padding: 26px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 90px;
}

header .nav-links a {
  color: #fffafa;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 10px 15px;
  border-radius: 2rem;
  background-color: transparent;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dropdown-parent {
  position: relative;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--grey);
  min-width: 250px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  display: block;
}

.dropdown-parent:hover .dropdown {
  opacity: 1;
  visibility: visible;
  border-radius: 1.7rem;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.dropdown li {
  list-style: none;
  display: block;
  width: 100%;
}

.dropdown a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: #f5f5f5;
  font-size: 1.1rem;
}

.dropdown a:hover {
  background-color: #f5f5f5;
  color: var(--black);
  border-radius: 1.7rem;
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: #fffafa;
  text-align: right;
}

.contact-info .phone {
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.contact-info .phone a,
.contact-info .phone-number {
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
  font-weight: bold;
  text-decoration: none;
  color: #fffafa;
}

.phone-icon {
  width: auto;
  height: 25px;
  margin-right: 8px;
  vertical-align: middle;
}

.contact-info .email a {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  text-decoration: none;
  color: #fffafa;
}

.contact-info .email {
  font-family: "Montserrat", sans-serif;
  margin-bottom: 8px;
  font-size: 1rem;
  text-decoration: none;
}

header .appointment {
  font-family: "Montserrat", sans-serif;
  background-color: var(--blue3);
  padding: 13px 15px;
  transition: background-color 0.3s ease;
  border-radius: 2rem;
  font-size: 1.2rem;
  text-decoration: none;
  color: #fffafa;
}

header .appointment:hover {
  background-color: var(--hover);
  transition: background-color 0.3s ease;
  color: var(--grey);
}

header nav .phone-number {
  padding: 0px 15px;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.title .logo {
  width: auto;
  height: 90px;
  flex-shrink: 0;
}

.title-text {
  display: flex;
  flex-direction: column;
}

.title-text h1 {
  font-family: "Archivo Narrow", Verdana, sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  margin: 0;
  color: var(--black);
  line-height: 1.2;
}

.title-text h3 {
  font-family: "Archivo Narrow", Verdana, sans-serif;
  color: var(--black);
  font-size: 1.3rem;
  margin: 0;
  line-height: 1.2;
}

.hero {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
  background-color: var(--white);
  border-radius: 2rem;
}

.hero-image {
  width: 100%;
  height: 650px;
  margin: 0 auto;
  display: block;
  object-fit: cover;
  object-position: center 30%;
  border-radius: 2rem;
  margin-top: 50px;
}

.hero h2 {
  font-family: "Archivo Narrow", Verdana, sans-serif;
  font-size: 2rem;
  margin-top: 50px;
  color: var(--grey);
  padding: 0 20px;
  text-align: center;
  line-height: 1.2;
}

.content-area1 .welcome-text {
  grid-area: section1;
  font-family: "Montserrat", sans-serif;
  font-size: 1.1rem;
  color: var(--black);
  padding: 10px 200px;
  margin-bottom: 20px;
}

.content-area2 .serving-text {
  grid-area: section2;
  font-family: "Montserrat", sans-serif;
  font-size: 1.1rem;
  color: var(--black);
  padding: 10px 100px;
  margin-bottom: 20px;
  font-weight: bold;
}

.images-area {
  grid-area: images;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.images-area .images {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-top: 20px;
  transition: box-shadow 0.3s ease-in-out;
}

.ada-image,
.isds-image,
.cds-image,
.clearcorrect-image {
  border: white 4px solid;
  border-radius: 0.5rem;
  padding: 5px 5px;
  box-shadow: #141414 0px 0px 10px;
}

.content-area3 {
  grid-area: section3;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  background-color: var(--grey2);
  border-top: var(--blue1) 5px solid;
  border-bottom: var(--blue1) 5px solid;
}

.content-area3 .testimonials-title {
  font-family: "Archivo Narrow", sans-serif;
  font-size: 1.9rem;
  color: var(--grey);
  margin-bottom: 20px;
}

.testimonials-container {
  display: flex;
  flex-direction: column;
  gap: 35px;
  align-items: center;
  margin-bottom: 40px;
}

.top-row {
  display: flex;
  gap: 35px;
  justify-content: center;
}

.bottom-row {
  display: flex;
  gap: 35px;
  justify-content: center;
}

.testimonials {
  background-color: #fffafa;
  width: 500px;
  padding: 20px;
  border-radius: 0.5rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  color: var(--black);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centers vertically */
  align-items: center;
}

.testimonials p {
  margin: 0;
  line-height: 1.5;
  font-weight: 425;
}

.testimonials .patient-name {
  font-family: "Archivo Narrow", Verdana, sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--black);
  margin-top: 10px;
}

footer p {
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
  text-align: center;
}
